<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
	  <fieldTypes>
		  <fieldType name="tags" type="Sitecore.Data.Fields.MultilistField, Sitecore.Kernel" resizable="true" />
	  </fieldTypes>
	  <controlSources>
		  <source mode="on" namespace="FortisCollections.Tagging.FieldTypes" assembly="FortisCollections.Tagging" prefix="fortisCollections" />
	  </controlSources>
	<clientscripts>
	  <everypage>
		<script src="/FortisCollections/FieldTypes/assets/Tagging/js/field.js" language="javascript" key="tag field functions"/>
	  </everypage>
	  <htmleditor>
		<script src="/FortisCollections/FieldTypes/assets/Tagging/js/field.js" language="javascript" key="tag field functions"/>
	  </htmleditor>
	</clientscripts>
  </sitecore>
</configuration>